/* Base Styles */
.b1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 55rem;
    align-items: center;
    position: relative;
    width: 100vw;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}
.matrixeffect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
}
.bg1 {
    display: none;
}

.sound {
    position: absolute;
    top: 5vh;
    left: 5vw;
    font-size: 1vw;
    color: rgb(91, 231, 66);
    background-color: black;
    padding: 0.5vw;
    border-radius: 1vw;
    box-shadow: rgb(209, 222, 235) 2vw 4vw 10vw -3vw;
    cursor: pointer;
    z-index: 1000;
}

.morpheus {
    margin: auto;
    width: 38rem;
    height: 42rem;
    background-image: url(../assets/morpheus.png);
    background-size: 100% 100%;
    margin-top: -7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding-left: 9rem;
    padding-right: 9.2rem;
}

.choose {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    color: rgb(5, 247, 66);
    z-index: 1000;
}

.red, .blue {
    margin-top: 18rem;
    height: 1.2vw;
    width: 2.2vw;
    border-radius: 1vw;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.red {
    top: 67%;
    left: 38%;
    background-color: rgba(255, 0, 0, 0.171);
}

.red:hover {
    box-shadow: rgba(227, 2, 2, 0.17) 0px -23px 25px 0px inset, rgba(227, 2, 2, 0.17) 0px -36px 30px 0px inset, rgba(227, 2, 2, 0.17) 0px -79px 40px 0px inset, rgba(227, 2, 2, 0.17) 0px 2px 1px, rgba(227, 2, 2, 0.17) 0px 4px 2px, rgba(227, 2, 2, 0.17) 0px 8px 4px, rgba(227, 2, 2, 0.17) 0px 16px 8px, rgba(227, 2, 2, 0.17) 0px 32px 16px;
}

.blue {
    top: 66.5%;
    left: 61.5%;
    background-color: rgba(0, 0, 255, 0.336);
}

.blue:hover {
    box-shadow: rgba(13, 2, 227, 0.17) 0px -23px 25px 0px inset, rgba(13, 2, 227, 0.17) 0px -36px 30px 0px inset, rgba(13, 2, 227, 0.17) 0px -79px 40px 0px inset, rgba(13, 2, 227, 0.17) 0px 2px 1px, rgba(13, 2, 227, 0.17) 0px 4px 2px, rgba(13, 2, 227, 0.17) 0px 8px 4px, rgba(13, 2, 227, 0.17) 0px 16px 8px, rgba(13, 2, 227, 0.17) 0px 32px 16px;
}

.head {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3vw;
    color: rgb(255, 255, 255);
    z-index: 1000;
    text-align: center;
    background: linear-gradient(135deg, rgb(0, 0, 0), rgb(81, 255, 0));
   
    mix-blend-mode: difference;

}

.redText, .blueText {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 2vw;
    z-index: 1000;
    background-color: rgba(240, 248, 255, 0.11);
    border-radius: 10%;
}

.redText {
    color: rgb(247, 5, 5);
}

.blueText {
    color: rgb(0, 0, 255);
    margin-left: 25rem;
}

.redblue {
    display: flex;
    width: 100%;
    justify-content: space-between;
    width: 100%;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .b1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 55rem;
        align-items: center;
    }
    .morpheus {
        width: 30rem;
        height: 35rem;
        padding-left: 7rem;
        padding-right: 7rem;
    }
    .choose {
        font-size: 3vw;
    }
    .head {
        font-size: 2.5vw;
    }
    .redText, .blueText {
        font-size: 1.5vw;
    }
    .red, .blue {
        height: 1.5vw;
        width: 2.5vw;
    }
}

@media (max-width: 768px) {
    .b1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 55rem;
        align-items: center;
    }
    .sound {
        font-size: 2vw;
        padding: 1vw;
        border-radius: 2vw;
    }
    .morpheus {
        margin-top: 15rem;
        width: 35rem;
        height: 50rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .choose {
        font-size: 4vw;
    }
    .head {
        font-size: 5vw;
    }
    .redText, .blueText {
        font-size: 4vw;
    }
    .red, .blue {
        height: 2vw;
        width: 3vw;
    }
    .redText {
        margin-left: 0;
    }
    .blueText {
        margin-left: 15rem;
    }
    .redblue{
        margin-top: 4rem;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .b1{
        display: inline;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        align-items: center;
    }
    .bgvid {

        width:min-content;
        height: 100%;
        width: 100vw;
        object-fit:cover;
        
        overflow: hidden;
    }
    .sound {
        font-size: 3vw;
        padding: 2vw;
        margin-top: 3.5rem;
        border-radius: 3vw;
    }
    .morpheus {
        margin-top: 1rem;
        width: 14.7rem;
        height: 27rem;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 4rem;
    }
    .choose {
        margin-top: 10rem;
        font-size: 2rem;
        font-weight: 600;
        font-family: "Cinzel", serif;
        text-align: center;
        mix-blend-mode: difference;
        filter:hue-rotate(100deg);
        
    }
    .head {
        margin-top: 0;
        font-size: 7vw;
    }
    .redText, .blueText {
        font-size: 5vw;

    }
    .red, .blue {
        height: 3vw;
        width: 4vw;
    }
    .redText {
        margin-left: 0;
        
        margin-top: 1rem;
    }
    .blueText {
        margin-left: 0;
        margin-top: 1rem;
    }
}
