.main{
    width: 100%;
    height: 100vh;
    z-index: -1001;
}

.intro{
    width: 100%;
    z-index: -10000;
}

.welcome{
    background: linear-gradient(135deg, rgb(22, 119, 238), rgb(255, 237, 0));
   
    mix-blend-mode: difference;
    filter: invert(1);
    font-family: 'Cinzel', serif;
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
    z-index: 1000;
    position: absolute;
}

.nav{
    display: flex;
    padding-top: 1.5rem;
    justify-content: space-around;
}

.link{
    color: rgb(4, 227, 8);
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    font-weight: 900;
    margin-left: 3rem;
    text-decoration: none;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.akash{
    width: 30rem;
    height: 41rem;
    margin-top: 6rem;
}

