.nav {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2.5rem 1rem 1rem;
    justify-content:flex-end;
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
}

.menu {
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
}

.link {
    color: rgb(19, 228, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link:hover {
    background-blend-mode: difference;
    background-color: rgba(187, 255, 179, 0.281);
    border-radius: 5px;
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: rgb(9, 255, 0);
    mix-blend-mode: difference;
    margin: 4px 0;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu.active {
        display: flex;
    }

    .hamburger {
        display: flex;
        margin-right: 2rem;
    }

    .link {
        padding: 1rem;
        text-align: center;
        width: 100%;
    }
}
